<img src="images/contributor.jpg">
<h3><%= autor %></h3>
<p>Alumno de cuarto curso de Ing. Electronica Industrial y Autimatica. <br>Desarollador web.</p>
<video width="200" height="150" controls>
  <source src="video/miVideo.mp4" type="video/mp4">
</video>