body {
	background: #999;
}
/*Meramente didactico*/
#page-wrap:after {
	content: "Wide Layout";
}
nav { 
	float: left;
	width: 15%;
	height: 200px;
}
nav span {
	margin: 0px 100px 0px 0px;
}
section { 
	float: right;
	width: 80%;
	height: 200px;
	text-align:center;
}
footer {
	clear: both; 
	display: block;
}
img {
	float:right;
	width: 175px;
	height: 175px;
}
